spring:
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
  
  jpa:
    hibernate:
      ddl-auto: update

jwt:
  secret: ${JWT_SECRET}

google:
  cloud:
    storage:
      bucket-name: ${GCS_BUCKET_NAME}

server:
  port: ${PORT:8080}

